body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ccc;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header, main, footer {
    width: 80%;
    max-width: 800px;
    text-align: center;
}

header {
    background-color: #222;
    color: #0f0;
    padding: 1rem;
    text-align: center;
    border-bottom: 3px solid #0f0;
    position: relative;
}

header img.profile-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #0f0;
    margin-top: 10px;
}

.blinking-text {
    animation: blink 1s step-end infinite;
    margin-top: 10px;
    font-size: 1.5rem;
}

@keyframes blink {
    from, to {
        color: #0f0;
    }
    50% {
        color: transparent;
    }
}

main {
    padding: 20px;
    margin-top: 20px;
}

main section {
    margin-bottom: 20px;
    border: 1px solid #333;
    padding: 10px;
    background-color: #111;
}

main h3 {
    color: #0f0;
    font-size: 1rem;
}

main p, main ul {
    font-size: 0.75rem;
}

main ul {
    list-style-type: none;
    padding: 0;
}

main ul li {
    margin: 10px 0;
}

a {
    color: #0f0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #222;
    color: #0f0;
    text-align: center;
    padding: 10px 0;
    border-top: 3px solid #0f0;
    margin-top: 20px;
}
